{% extends 'base.html' %}

{% block content %}
    <div class="container my-4">
        <div class="d-flex align-items-center">
            <h2>{{ parceiro.name }} </h2>
            <span class="mt-auto ml-auto p-1 mb-2 bg-danger text-white"><strong>{{ parceiro_tasks|length }}</strong> unsolved tasks</span>
        </div>
          

        <hr><br>
        {% if not assigned_tasks %}
            <p>No tasks assigned.</p>
        {% else %}
            {% for username, tasks in assigned_tasks.items %}
                <h3>{{ username }}'s Tasks ({{tasks|length}})</h3>
                <div  style=" max-height: 1000px; overflow-x:auto;overflow-y:auto;">
                    <table class="table table-striped table-bordered">
                        <thead style="position: sticky;top: 0;background-color: #fff; z-index: 1;">
                            <tr>
                                <th>Order ID</th>
                                <th>Sent to CI</th>
                                <th>Parceiro</th>
                                <th>Order Link</th>
                                <th>Solved Task?</th>
                                <th>Description</th>
                                <th>Order Date</th>
                                <th>Loja ID</th>
                                <th>Loja</th>
                                <th>Empresa</th>
                                <th>Integracao</th>

                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>{{ task.order_id }}</td>
                                    <td>{{task.task_added_at|date:"d/m/Y"}} </td>
                                    <td>{{ task.partner }}</td>
                                    <td><a href="{{ task.order_link }}">{{ task.order_link }}</a></td>
                                    <td style="vertical-align:middle">
                                        {% if not task.is_solved %}
                                            <form method="post" action="{% url 'mark_task_solved' task.pk %}" >
                                                {% csrf_token %}
                                                <button  type="submit" class="btn btn-sm btn-success" onclick="return confirm('Once the task is solved, you are removing it from you main page, ok?')" >DONE</button>
                                            </form>
                                        {% else %}
                                            <span class="text-success">Solved</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {{task.description}}
                                    </td>
                                    <td>{{ task.created_at|date:"d/m/Y" }}</td>
                                    <td>{{ task.loja_id }}</td>
                                    <td>{{ task.loja }}</td>
                                    <td>{{ task.empresa }}</td>
                                    
                                    <td>{{ task.integracao }}</td>

                                    <td><a href="{% url 'edit_task' task.id %}"><i class="fa fa-edit" aria-hidden="true"></i></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br><br>

            {% endfor %}
        {% endif %}
    </div>
    {% include 'alerts.html' %}

{% endblock %}
