{% extends 'base.html' %}

{% block content %}
<h1>Team Reports</h1>
<div class="row">
    <div class="class col-md-6">
        <div id="chart7"></div>
        <script>
            var graphJSON3 = {{ graphJSON3|safe }};
            Plotly.plot('chart7', graphJSON3);
        </script>
    </div>
    <div class="col-md-6">
      <div id="chart8"></div>
      <script>
        var graphJSON4 = {{ graphJSON4|safe }};
        Plotly.plot('chart8', graphJSON4);
      </script>
    </div>
</div>

<hr>
<h1>Members Reports</h1>

<div id="chart"></div>
<script>
    var graphJSON = {{ graphJSON|safe }};
    Plotly.plot('chart', graphJSON);
</script>

<div id="chart2"></div>
<script>
    var graphJSON2 = {{ graphJSON2|safe }};
    Plotly.plot('chart2', graphJSON2);
</script>
{% endblock %}