{% extends 'base.html' %}

{% block content %}
    <div class="container my-4">
        <h1>{{ user.username }} solved ({{ tasks|length }}) tasks</h1>
        {% if not tasks %}
            <p>No tasks solved yet.</p>
        {% else %}
                <h2><a href="{% url 'user_tasks_assigned' pk=user.pk %} ">{{ user.username }} assigned tasks</a></h2>
                <div  style=" max-height: 1000px; overflow-x:auto;overflow-y:auto;">
                    <table class="table table-striped table-bordered">
                        <thead style="position: sticky;top: 0;background-color: #fff; z-index: 1;">
                            <tr>
                                <th>Sent to CI</th>
                                <th>Parceiro</th>
                                <th>Solved At</th>
                                <th>Unsolved?</th>
                                <th>Order Link</th>
                                <th>Description</th>
                                <th>Solved Task?</th>
                                <th>Order ID</th>
                                <th>Loja ID</th>
                                <th>Loja</th>
                                <th>Empresa</th>
                                <th>Integracao</th>

                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                            <tr>
                                <td>{{task.task_added_at|date:"d/m/Y H:i"}} </td>
                                    <td><a href="{% url 'parceiro_tasks' pk=task.parceiro.pk %} ">{{ task.partner }}</a></td>
                                    <td>{{task.task_updated_at|date:"d/m/Y H:i"}} </td>
                                    <td style="vertical-align:middle">
                                        {% if task.is_solved %}
                                            <form method="post" action="{% url 'mark_task_unsolved' task.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-warning" onclick="return confirm('Once you are marking this task as unsolved, you are assuming the task, ok?')" >Assign to Me</button>
                                            </form>
                                        {% else %}
                                            <span class="text-success">Solved</span>
                                        {% endif %}
                                    </td>  
                                    <td><a href="{{ task.order_link }}">{{ task.order_link }}</a></td>
                                    <td>
                                        {% if not task.is_solved %}
                                        <form method="POST" action="{% url 'edit_description' task.pk %}">
                                            {% csrf_token %}
                                            {{ form.description }}
                                            <button type="submit" class="btn btn-sm btn-success">Save</button>
                                        </form>
                                        {% else %}
                                        {{task.description}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not task.is_solved %}
                                            <form method="post" action="{% url 'mark_task_solved' task.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-warning" onclick="return confirm('Once you are marking this task as unsolved, the task wikk return to the User responsible for it, ok?')" >Unsolve</button>
                                            </form>
                                        {% else %}
                                            <span class="text-success">Solved</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ task.order_id }}</td>
                                    <td>{{ task.loja_id }}</td>
                                    <td>{{ task.loja }}</td>
                                    <td>{{ task.empresa }}</td>
                                    
                                    <td>{{ task.integracao }}</td>

                                    <td><a href="{% url 'edit_task' task.id %}"><i class="fa fa-edit" aria-hidden="true"></i></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        {% endif %}
    </div>
{% endblock %}
